/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
/**************** MEDIA QUERIES ****************/

@media (max-width: 768px) {
  #navRight a {
   visibility: hidden;
  }

  #navRight {
    background: url("https://i.kinja-img.com/gawker-media/image/upload/s--fXy3vbfc--/c_scale,f_auto,fl_progressive,q_80,w_800/hij3rr0ddoyybxgy6zgy.jpg") center / contain no-repeat;
    width: 40px;
    height: 30px;
  }
}

/**************** GENERAL ****************/

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.7rem;
}

header, main {
  padding: 0 20px;
}

/**************** NAVBAR ****************/

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 40px;
  background-color: white;
  position: sticky;
  top: 0;
}

#navbar img {
  height: 50px;
}

#navRight a {
  text-decoration: none;
  margin-left: 15px;
}

/**************** HEADER ****************/

#headerForm {
  display: flex;
  flex-direction: column;
}

#headerForm input {
  text-align: center;
  border: 1px solid rgb(206, 203, 203);
}

#headerForm button {
  background-color: #192592;
  color: white;
  /* outline: none; */
  border: 1px solid #192592;
}

#headerForm input,
#headerForm button {
  height: 45px;
}

#headerForm + p {
  text-align: center;
}

#headerImage {
  width: 100%;
  height: auto;
}

.button {
  height: 45px;
}